
/* *{
  margin: 0;
  padding: 0;
} */

p, h2{
  padding: 5px;
}
.grid{
  display: grid;
  height: 100vh;
  color: white;
  border: 3px solid rgb(252, 251, 251);
 
  grid-template-columns: repeat( 12, 1fr);
  grid-template-rows:  10% 60% 20% 10%;
  /* grid-template: 30px auto 200px 30px / 1fr; */
  grid-gap: 3px;
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "m m m m m m m m m m m m"
  "w w w w w w w w w w w w"
  "f f f f f f f f f f f f"
   ;
}
.gridheader{
  background-color: palevioletred;
  grid-area: h;
}
.gridmain{
  background-color: rgb(90, 132, 28);
  grid-area: m;
}
.widget-area{
  background-color: rgb(50, 171, 201);
  grid-area: w;
}
.gridfooter{
  background-color: rgb(21, 21, 230);
  grid-area: f;
}

@media (min-width: 1024px) {
  .grid{
    grid-template-areas: 
    "h h h m m m m m m m m m"
    "h h h m m m m m m m m m"
    "h h h w w w w w w w w w"
    "h h h f f f f f f f f f"
  } 
}

@media (min-width: 1500px) {
  .grid{
    grid-template-areas: 
    "h h m m m m m m m m w w"
    "h h m m m m m m m m w w"
    "h h m m m m m m m m w w"
    "h h f f f f f f f f w w"
  
  } 
}
